= form_for @missive do |f|
	- if @missive.errors.any?
		.error_explanation
			%h2= "#{pluralize(@missive.errors.count, "error")} prohibited this from being saved:"
			%ul
			- @missive.errors.full_messages.each do |msg|
				%li= msg
	%p	
		= f.label :title
		= f.text_field :title
	%p
		= f.label :content
		= f.text_area :content
	= f.submit