%h1 User Details
= "First name: #{@user.first_name}"
= "Surname: #{@user.surname}"
= "Email: #{@user.email}"
= link_to "Edit", edit_user_path(@user)
= link_to "Delete", user_path(@user), method: :delete, data: { confirm: "Are you sure? "}
= link_to "Log Out", session_path(current_user), method: :delete, data: { confirm: "Are you sure?" }

%h2 Acquaintances
= link_to "you have #{pluralize(@acquaintances.count, 'acquaintance')}", relationships_path